@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
body {
  min-height: 100vh;
  overflow-x: hidden;
  list-style: none;
  background: url("../images/bg.jpg") fixed center;
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
  width: 100%;
}
header .header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
}
header .header-container h1 {
  font-family: "Inter";
  text-transform: uppercase;
  font-weight: 800;
  font-size: 5rem;
  text-align: center;
  word-spacing: 1rem;
  color: rgb(248, 245, 245);
}
header .header-container p {
  color: rgb(248, 245, 245);
  font-family: "Merriweather";
  font-style: italic;
}
header .header-container i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: white;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px;
}

#content nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}
#content nav .nav-container {
  display: flex;
  width: 75%;
  height: 100%;
  background: rgba(238, 236, 236, 0.301);
}
#content nav .nav-container .navigation-container {
  width: 70%;
  height: 100%;
}
#content nav .nav-container .navigation-container ul {
  height: 100%;
  width: 70%;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
#content nav .nav-container .navigation-container ul li {
  height: 100%;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: rgb(243, 242, 242);
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#content nav .nav-container .navigation-container ul li:hover {
  background: rgb(243, 243, 243);
  color: rgb(10, 10, 10);
}
#content nav .nav-container .social-container {
  display: flex;
  width: 25%;
}
#content nav .nav-container .social-container ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}
#content nav .nav-container .social-container ul li {
  list-style: none;
  color: rgb(250, 249, 249);
  font-size: 1.2rem;
  cursor: pointer;
}
#content nav .nav-container .social-container ul li:hover {
  color: rgb(17, 92, 190);
}
#content .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#content .intro .intro-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 75%;
  padding-bottom: 5%;
  background: rgb(236, 236, 236);
}
#content .intro .intro-container h5 {
  font-weight: 200;
  font-size: 1.1rem;
  position: relative;
}
#content .intro .intro-container h5::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: -350px;
  width: 300px;
  height: 1px;
  background: rgba(66, 66, 66, 0.568);
}
#content .intro .intro-container h5::after {
  content: "";
  position: absolute;
  bottom: 50%;
  right: -350px;
  width: 300px;
  height: 1px;
  background: rgba(66, 66, 66, 0.568);
}
#content .intro .intro-container h2 {
  font-family: "Inter", "sans-serif";
  font-size: 3rem;
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 3px;
}
#content .intro .intro-container P {
  width: 50%;
  text-align: center;
  color: rgb(112, 112, 112);
  line-height: 2;
  font-style: italic;
}
#content .intro .intro-container .intro-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
#content .intro .intro-container .intro-img img {
  width: 80%;
}
#content .intro .intro-container button {
  border-style: none;
  border: 2px solid rgb(13, 12, 12);
  width: 140px;
  height: 40px;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}
#content .intro .intro-container button:hover {
  background: rgb(38, 38, 38);
  color: rgb(239, 239, 239);
  transition: 0.4s ease;
}/*# sourceMappingURL=style.css.map */