@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --color1: rgb(81, 47, 202);
}

html {
   height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: rgb(36, 36, 36);
  color: white;
  font-family: "Inter";
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}

h2 {
  margin: 10px;
  font-size: 2.2rem;
  display: flex;
  margin-right: auto;
}

ul {
  display: flex;
  /* margin: auto 30%; */
}

li {
  margin: auto 110px;
  list-style-type: none;
}

.header {
  display: flex;
  flex-direction: row;
}

.header-left {
  height: auto;
  /* overflow: hidden; */
}

.header-left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 100%;
  padding-left: 15px;
}

.header-left-container h1 {
  font-size: 5.9rem;
  margin: 0;
}
.header-left-container h3 {
  font-size: 2rem;
  margin: 0;
  color: var(--color1);
}

.header-left-container p {
  font-size: 0.9rem;
  margin: 0;
}

.header-right {
  position: relative;
  height: 100%;
}

#modem {
  position: absolute;
  top: -45px;
  left: 10px;
  /* height: 130%;
  width: 100%;
  padding-right: 25px; */
}

.infos {
  display: flex;
  flex-direction: row;
  background: black;
  margin-top: auto;
  border-radius: 15px;
  width: 99%;
  gap: 30px;
}

.infos-left {
  margin-right: auto;
  width: 30%;
}

.infos-left h3 {
  margin: 12px;
  width: 100%;
}

.btn-container {
  display: flex;
  flex-direction: column;
  margin:25px 12px 12px 12px;
  gap: 20px;
}

button {
  background: var(--color1);
  cursor: pointer;
  color: white;
  font-family: "Inter";
  border-radius: 10px;
  height: 35px;
  width: 60%;
  border-style: hidden;
}

button:hover {
  content: "";
  background: white;
  color: var(--color1);
  animation: button 1s infinite linear;
}

@keyframes button {
  33% {
   transform: scale(1.09);
}
66% {
  transform: scale(1.14);
}
100% {
  transform: scale(1);
}
}

.infos-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 70%;
  height: 100%;
}

.infos-right h3 {
  margin: 12px;
  max-width: 100%;
}

.investors {
  max-width: 100%;
}

.img-container {
  display: flex;
  flex-direction: row;
  gap: 80%;
  width: 100%;
}

/* .img-container img {
  height: 50%;
  width: 15%;
} */

.img-container:nth-child(1) {
  height: 50%;
  width: 15%;
}
.img-container:nth-child(2) {
  height: 60%;
  width: 15%;
}
.img-container:nth-child(3) {
  height: 50%;
  width: 15%;
}